body{

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-content: center;
    background-color: rgb(242, 242, 15);
    
}
.header {

    font-size: 50px;
    text-align: center;
    font-family: fantasy;
    background-color: rgb(71, 242, 41);

}

.box {
    background-color: rgb(224, 26, 26);
    height: 100px;
    width: 100px;
    color: rgb(234, 234, 234);
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 20px;
}

.box:hover {
    transform: translate(50px, 20px) skew(20deg, 10deg);
    transition: 5s;
    background-color: aqua;
}

.rotate {
    background-color: rgb(224, 26, 26);
    height: 100px;
    width: 100px;
    color: rgb(234, 234, 234);
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 20px;
}

.rotate:hover {
    transform: rotate(360deg);
    transition: 1s;
    scale: 1.2;
    background-color: aqua;
}
.translate {
    background-color: rgb(224, 26, 26);
    height: 100px;
    width: 100px;
    color: rgb(234, 234, 234);
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 20px;
}
.translate:hover {
    translate: 50px;
    background-color: aqua;
}
.scale {
    background-color: rgb(224, 26, 26);
    height: 100px;
    width: 100px;
    color: rgb(234, 234, 234);
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 20px;
}
.scale:hover {
    scale: 1.2;
    background-color: aqua;
}